<footer class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3> House of Decora is an interior design studio founded in Miami, Florida. Our current work includes private residences, office spaces, boutique hotels, and restaurants. Our work is process driven — combining spatial narratives and materials to create designs that are responsive and carefully considered. Our approach is open minded and ever evolving — drawing inspiration from site, culture, environment, and technology.
            </div>

           

            <div class="col-md-4">
                <h3>Contact Us</h3>
                <div class="widget widget-address">
                    <address>
                        <span>100 S Main St, Los Angeles, CA</span>
                        <span><strong>Phone:</strong>786-512-0229
                        </span>
                        
                        <!-- <span>
                            <strong>Fax:</strong>(208) 333 9298</span> -->
                        <span><strong>Email:</strong><a href="mailto:Info@Houseofdecora.com">Info@Houseofdecora.com</a></span>
                        <span><strong>Web:</strong><a href="#">http://archi-interior.com</a></span>
                    </address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget widget_recent_post">
                    <h3>Pages</h3>
                    <ul>
                        <li><a href="#">Interior Design</a></li>
                        <li><a href="#">Architecture</a></li>
                        <li><a href="#">Industry</a></li>
                        <li><a href="#">Consulting</a></li>
                        <li><a href="#">Photography</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="subfooter">
        <div class="container">
            <div class="row align-items-middle">
                <div class="col-md-3">
                    <img src="https://houseofdecora.com/wp-content/uploads/2021/10/footer-logo.svg" class="logo-small" alt=""><br>
                </div>

                <div class="col-md-6 text-center">
                    &copy; Copyright 2023 <span class="id-color">House of Decora</span>
                </div>

                <div class="col-md-3 text-right">
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                        <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                        <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
                    </div>
                </div>
            </div>
    </div>

    <a href="#" id="back-to-top"></a>
</footer>