<header class="transparent">
  <div class="info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="column">
            Working Hours Monday - Friday
            <span class="id-color"><strong>08:00-16:00</strong></span>
          </div>
          <div class="column">
            Toll Free
            <span class="id-color"><strong>786-512-0229 </strong></span>
          </div>
          <!-- social icons -->
          <div class="column social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-envelope-o"></i></a>
          </div>
          <!-- social icons close -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- logo begin -->
        <div id="logo">
          <a href="index.html">
            <img
              class="logo"
              src="https://houseofdecora.com/wp-content/uploads/2021/10/footer-logo.svg"
              alt=""
            />
          </a>
        </div>
        <!-- logo close -->

        <!-- small button begin -->
        <span id="menu-btn"></span>
        <!-- small button close -->

        <!-- mainmenu begin -->
        <nav class="md-flex">
          <ul id="mainmenu">
            <li>
              <a href="index.html">Home<span></span></a>
            </li>
            <li>
              <a href="index.html">About<span></span></a>
            </li>
            <li>
              <a href="index.html">Portfolio<span></span></a>
            </li>
            <li>
              <a href="index.html">Interior Design<span></span></a>
            </li>
            <li>
              <a href="index.html">Shop<span></span></a>
            </li>
            <li>
              <a href="index.html">Contact<span></span></a>
            </li>
          </ul>
        </nav>

        <!-- mainmenu close -->
      </div>
    </div>
  </div>
</header>
